<header class="py-4">      
    <nav nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand text-uppercase fw-bold" href="#">
                <span class="bg-danger bg-gradient p-1 rounded-3 text-light">Ressources Humaines G4S CI </span> 
            </a>
            <ul class="navbar-nav">

                {% if etat == 'accueil' %} 
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'RH_G4S:accueil' %}" title="Accueil"><mark>Accueil</mark> </a>
                    </li>
                {% else %}                        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'RH_G4S:accueil' %}" title="Accueil">Accueil</a>
                    </li>
                {% endif %}

                {% if etat == 'modele' %} 
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'RH_G4S:modele' %}" title="Cliquez ici pour voir le modèle"><mark>Modèle</mark></a>
                    </li>
                {% else %}                        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'RH_G4S:modele' %}" title="Cliquez ici pour voir le modèle">Modèle</a>
                    </li>
                {% endif %}

                {% if etat == 'lettre' %} 
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'RH_G4S:lettre' %}" title="Cliquez ici pour créer une lettre"><mark>Lettre</mark> </a>
                    </li>
                {% else %}                        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'RH_G4S:lettre' %}" title="Cliquez ici pour créer une lettre">Lettre</a>
                    </li>
                {% endif %}

                {% if etat == 'contact' %} 
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'RH_G4S:contact' %}" title="Nous contacter"><mark>Contact</mark></a>
                    </li>
                {% else %}                        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'RH_G4S:contact' %}" title="Nous contacter">Contact</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</header>