{% extends 'static/base.html' %}
{% load crispy_forms_tags %}   

    {% block title %}

        <title>Lettre</title>

    {% endblock %}


    {% block content %}

        <div class="container"> 
            <section  class="my-5" id="connection">
                <div class="container">
                    <div class="row gy-4 align-items-center">
                        <div class="col-12 col-md-12">
                            <h1 class="fw-bold text-md-center" id ="defile"><center>Lettre sans Préavis avec PS remboursé en partie </center></h1>
                        
                        </div>
                    </div>
                </div>
            </section>

            <section class="container text-md-center">
                <h3> <mark>  Veuillez renseigner le formulaire ci-dessous relatif aux informations sur l'employé </mark> </h3>
            </section>
            <br> <br>

            <section class="container">   
                <form method="POST"  action="{% url 'RH_G4S:lettre_PS_rembourse' %}">  
                    {% csrf_token %}

                    {% crispy formulaire %}
                    
                    <br>  <br>
                </form>
            </section>

            <section>
                <br> <br>

            </section>
        </div>
    {% endblock %}       