{% extends 'static/base.html' %}
   
    {% block title %}

        <title>Accueil</title>

    {% endblock %}


    {% block content %}

            <section  class="my-5" id="connection">
                <div class="container">
                    <div class="row gy-4 align-items-center">
                        <div class="col-12 col-md-12">
                            <h1 class="fw-bold text-md-center" id ="defile"><center>Courrier de démission sans Préavis</center></h1>
                        </div>
                    </div>
                </div>
            </section>

            <section id="information" class="py-5 bg-light">
                <p class="lead mb-4 text-md-center" > 
                    Cet outil vous permet de générer un modèle de lettre de démission sans Préavis et, avec ou sans Prêt Scolaire. <br> 
                    Pour visualiser un modèle de base de l'une de ces lettres, veuillez cliquer sur le champ Modèle. <br>
                    Pour rédiger une lettre d'un modèle, veuillez cliquer sur le champ Lettre.<br>
                    Pour vos remarques, critiques et suggestions, veuillez cliquer sur le champ contact.<br>
                </p>
            </section>

    {% endblock %}
    