{% extends 'static/base.html' %}
   
    {% block title %}

        <title>Contact</title>

    {% endblock %}


    {% block content %}

            <section  class="my-5" id="connection">
                <div class="container">
                    <div class="row gy-4 align-items-center">
                        <div class="col-12 col-md-12">
                            <h1 class="fw-bold text-md-center" id ="defile"><center>Contact</center></h1>
                        </div>
                    </div>
                </div>
            </section>

            <section id="information" class="py-5 bg-light">
                <p class="lead mb-4 text-md-center" > 
                    Pour toutes vos remarques, critiques et suggestions, veuillez-vous adresser à : 
                                
                </p>

                <p class="lead mb-4 text-md-center" > 
                   
                    <a href="#" type="button" class="btn btn-secondary">richard.kouassi@ci.g4s.com</a>

                </p>

            </section> 
            
    {% endblock %}